{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="jumbotron" style="background-color:#A9F16C">
</header>

<div class="container">
    <div class="row">
        <div class="col-6">
            {{template "flash.html" .}}
        </div>
    </div>

    {{if .basketItems}}
        <form method="post" action="/basket/update" enctype="application/x-www-form-urlencoded">
            <ul class="list-unstyled">
                {{range .basketItems}}
                <li class="media">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">{{.Name}}</h5>
                        <div>{{.Price}} EUR</div>
                        <input name="basket[amount][{{.ProductId}}]" type="text" value="{{.Amount}}">
                        <button type="submit" name="remove" value="{{.ProductId}}">remove</button>
                    </div>
                </li>
                {{end}}
            </ul>
            <button type="submit">Update</button>
        </form>
    {{end}}

</div>

{{template "footer.html" .}}
