{{set . "title" "Home"}}
{{template "header.html" .}}

<div class="container">
    <div class="row head" style="padding-top: 1em">
        <div class="col">
            {{template "head.html" .}}
        </div>
    </div>
    <div class="row flash">
        <div class="col">
            {{template "flash.html" .}}
        </div>
    </div>
    <div class="row product-list" style="padding-top: 1em">
        <div class="col">
        <div class="card-deck">
            <div class="card w-100">
                <div class="card-header">
                    <img src="{{.product.ImageUrl}}" alt="{{.product.Name}}">
                </div>
                <div class="card-block">
                    <h4 class="card-title">{{.product.Name}}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">{{.product.Name}}</h6>
                    <p class="card-text">{{.product.Description}}</p>
                </div>
                <div class="card-footer">
                    <p class="card-text">{{.product.Price}} EUR</p>
                    <a href="{{.product.BuyUrl}}" class="card-link">Buy</a>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

{{template "footer.html" .}}
