<!DOCTYPE html>

<html>
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap-4.0.0.min.css">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
    <script src="/public/js/jquery-3.2.0.min.js"></script>
    <script src="/public/js/bootstrap-4.0.0.min.js"></script>
    <script src="/public/js/basket.js"></script>
    {{range .moreStyles}}
      <link rel="stylesheet" type="text/css" href="/public/{{.}}">
    {{end}}
    {{range .moreScripts}}
      <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}
  </head>
  <body>
  <div style="position:fixed">
    <a href="/" class="btn btn-info home" role="button" style="float:left">Home</a>
    <div style="float:left">&nbsp;</div>
    <div class="basket" style="float:left"></div>
  </div>

