{{if .products}}
    <div class="card-deck">
        {{range .products}}
            <div class="card w-50">
                <div class="card-header">
                    <a href="{{.DetailsUrl}}"><img src="{{.ImageUrl}}" alt="{{.Name}}"></a>
                </div>
                <div class="card-block">
                    <h4 class="card-title">{{.Name}}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">{{.Name}}</h6>
                    <p class="card-text">{{.Description}}</p>
                </div>
                <div class="card-footer">
                    <p class="card-text">{{.Price}} EUR</p>
                    <a href="{{.DetailsUrl}}" class="card-link">Details</a>
                    <a href="{{.BuyUrl}}" class="card-link">Buy</a>
                </div>
            </div>
        {{end}}
    </div>
{{end}}
